<div class="navigation-container">
  <h1>PO Deliveries – CRUD</h1>
  
  <div class="button-group">
    <p-button 
      label="Purchase Orders" 
      icon="pi pi-shopping-cart" 
      routerLink="/purchaseOrders"
      routerLinkActive="active-btn"
      styleClass="p-button-raised p-button-primary">
    </p-button>
    
    <p-button 
      label="Deliveries" 
      icon="pi pi-truck" 
      routerLink="/deliveries"
      routerLinkActive="active-btn"
      styleClass="p-button-raised p-button-success">
    </p-button>
  </div>
</div>

<router-outlet></router-outlet>